@import url('https://fonts.cdnfonts.com/css/helvetica-neue-55');
@import url('https://fonts.cdnfonts.com/css/gelion');

* {
  margin: 0;
  padding: 0;
  font-family: Gelion, Helvetica, "Helvetica Neue", Arial;
  box-sizing: border-box;
}

.container {
  position: relative;
  width: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(1, 1fr);
}

.top-section {
  display: grid;
  width: 100%;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
}

.cities-name {
  font-size: 20px;
  font-weight: 600;
  display: grid;
  gap: .5rem;
  padding-left: 2rem;
  letter-spacing: .1rem;
}

.weather-icon {
  display: flex;
  align-items: top;
  justify-content: center;
}

.weather-icon .image-sun {
  /* background-image: url("/public/img/sunny.png"); */
  width: 170px;
  height: 170px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  visibility: visible;
  unicode-bidi: isolate;
  background-position: right;
}

.text {
  font-size: 52px;
  font-weight: 700;

}

;